body
    {
        background-color:#c44d13;
        width:100%;
    }

h2
    {
        font-size:50px;
        color:#321006;
        text-shadow:1px 1px #e2ad83;
        padding:0px;
        text-align: center;
        position: absolute;
        top:55%;
        left:22%;
       
    }

h3
     {
        font-size:30px;
        color:#321006;
        text-shadow:1px 1px #e2ad83;
        padding:0px;
        text-align: center;
        position: absolute;
        top:65%;
        left:50%;
        
    }
#content
    {
        margin:auto;
        width:60%;
    }

#header
    {
        width:625px;
        height:469px;
        margin: auto;
        
    }

table
    {
    
    background-color: #321006;
    width:100%;
    height:40px;
    padding:0px;
    margin-bottom:5px;
    float:right;
    
    
    }

td
    {
     border:solid 1px #e2ad83;
    padding:0px;
    margin:0px;
    text-align: center;
    }

#img
    {
    text-align: center;
    width:auto;
    padding:0px;
    margin:auto;
    }

#copy
    {
    background-color: #321006;
    color:#e2ad83;   
    width:100%;
    text-align: center;
    border: 1px solid #e2ad83;
    }
a:link
    {
        text-decoration: underline;
        color:tan;
        
    }

a:visited
    {
        color:tan;
    }

a:hover
    {
        color:tan;
    }

a:active
    {
        color:tan;
    }